# NET "pads_dimm_ck" TNM_NET = "pads_dimm_ck";
# TIMESPEC "TS_pads_dimm_ck" = PERIOD "pads_dimm_ck" 100 MHz HIGH 50 % ns HIGH 50 %;
NET "PADS_dimm_a<0>" LOC=P66;
NET "PADS_dimm_a<10>" LOC=P80;
NET "PADS_dimm_a<11>" LOC=P84;
NET "PADS_dimm_a<12>" LOC=P93;
NET "PADS_dimm_a<13>" LOC=P102;
NET "PADS_dimm_a<1>" LOC=P67;
NET "PADS_dimm_a<2>" LOC=P68;
NET "PADS_dimm_a<3>" LOC=P70;
NET "PADS_dimm_a<4>" LOC=P71;
NET "PADS_dimm_a<5>" LOC=P72;
NET "PADS_dimm_a<6>" LOC=P73;
NET "PADS_dimm_a<7>" LOC=P74;
NET "PADS_dimm_a<8>" LOC=P78;
NET "PADS_dimm_a<9>" LOC=P79;
NET "PADS_dimm_cas" LOC=P52;
NET "PADS_dimm_ck" LOC=P92;
NET "PADS_dimm_d<0>" LOC=P237;
NET "PADS_dimm_d<10>" LOC=P39;
NET "PADS_dimm_d<11>" LOC=P31;
NET "PADS_dimm_d<12>" LOC=P36;
NET "PADS_dimm_d<13>" LOC=P34;
NET "PADS_dimm_d<14>" LOC=P27;
NET "PADS_dimm_d<15>" LOC=P41;
NET "PADS_dimm_d<16>" LOC=P110;
NET "PADS_dimm_d<17>" LOC=P113;
NET "PADS_dimm_d<18>" LOC=P115;
NET "PADS_dimm_d<19>" LOC=P118;
NET "PADS_dimm_d<1>" LOC=P3;
NET "PADS_dimm_d<20>" LOC=P126;
NET "PADS_dimm_d<21>" LOC=P133;
NET "PADS_dimm_d<22>" LOC=P140;
NET "PADS_dimm_d<23>" LOC=P142;
NET "PADS_dimm_d<24>" LOC=P147;
NET "PADS_dimm_d<25>" LOC=P152;
NET "PADS_dimm_d<26>" LOC=P154;
NET "PADS_dimm_d<27>" LOC=P157;
NET "PADS_dimm_d<28>" LOC=P160;
NET "PADS_dimm_d<29>" LOC=P162;
NET "PADS_dimm_d<2>" LOC=P5;
NET "PADS_dimm_d<30>" LOC=P169;
NET "PADS_dimm_d<31>" LOC=P171;
NET "PADS_dimm_d<32>" LOC=P238;
NET "PADS_dimm_d<33>" LOC=P4;
NET "PADS_dimm_d<34>" LOC=P6;
NET "PADS_dimm_d<35>" LOC=P9;
NET "PADS_dimm_d<36>" LOC=P11;
NET "PADS_dimm_d<37>" LOC=P13;
NET "PADS_dimm_d<38>" LOC=P18;
NET "PADS_dimm_d<39>" LOC=P20;
NET "PADS_dimm_d<3>" LOC=P7;
NET "PADS_dimm_d<40>" LOC=P23;
NET "PADS_dimm_d<41>" LOC=P26;
NET "PADS_dimm_d<42>" LOC=P28;
NET "PADS_dimm_d<43>" LOC=P33;
NET "PADS_dimm_d<44>" LOC=P35;
NET "PADS_dimm_d<45>" LOC=P38;
NET "PADS_dimm_d<46>" LOC=P40;
NET "PADS_dimm_d<47>" LOC=P42;
NET "PADS_dimm_d<48>" LOC=P111;
NET "PADS_dimm_d<49>" LOC=P114;
NET "PADS_dimm_d<4>" LOC=P10;
NET "PADS_dimm_d<50>" LOC=P117;
NET "PADS_dimm_d<51>" LOC=P125;
NET "PADS_dimm_d<52>" LOC=P127;
NET "PADS_dimm_d<53>" LOC=P139;
NET "PADS_dimm_d<54>" LOC=P141;
NET "PADS_dimm_d<55>" LOC=P144;
NET "PADS_dimm_d<56>" LOC=P149;
NET "PADS_dimm_d<57>" LOC=P153;
NET "PADS_dimm_d<58>" LOC=P155;
NET "PADS_dimm_d<59>" LOC=P159;
NET "PADS_dimm_d<5>" LOC=P12;
NET "PADS_dimm_d<60>" LOC=P161;
NET "PADS_dimm_d<61>" LOC=P168;
NET "PADS_dimm_d<62>" LOC=P170;
NET "PADS_dimm_d<63>" LOC=P173;
NET "PADS_dimm_d<6>" LOC=P17;
NET "PADS_dimm_d<7>" LOC=P19;
NET "PADS_dimm_d<8>" LOC=P21;
NET "PADS_dimm_d<9>" LOC=P24;
NET "PADS_dimm_dqmb<0>" LOC=P53;
NET "PADS_dimm_dqmb<1>" LOC=P56;
NET "PADS_dimm_dqmb<2>" LOC=P97;
NET "PADS_dimm_dqmb<3>" LOC=P100;
NET "PADS_dimm_dqmb<4>" LOC=P54;
NET "PADS_dimm_dqmb<5>" LOC=P57;
NET "PADS_dimm_dqmb<6>" LOC=P99;
NET "PADS_dimm_dqmb<7>" LOC=P101;
NET "PADS_dimm_ras" LOC=P65;
NET "PADS_dimm_s<0>" LOC=P63;
NET "PADS_dimm_we" LOC=P50;
NET "PADS_exchecker_reset" LOC=P191;
NET "PADS_io_conn<0>" LOC=P86;
NET "PADS_io_conn<10>" LOC=P208;
NET "PADS_io_conn<11>" LOC=P209;
NET "PADS_io_conn<12>" LOC=P215;
NET "PADS_io_conn<13>" LOC=P216;
NET "PADS_io_conn<14>" LOC=P217;
NET "PADS_io_conn<15>" LOC=P218;
NET "PADS_io_conn<16>" LOC=P220;
NET "PADS_io_conn<17>" LOC=P221;
NET "PADS_io_conn<18>" LOC=P222;
NET "PADS_io_conn<19>" LOC=P223;
NET "PADS_io_conn<1>" LOC=P87;
NET "PADS_io_conn<20>" LOC=P224;
NET "PADS_io_conn<21>" LOC=P228;
NET "PADS_io_conn<22>" LOC=P229;
NET "PADS_io_conn<23>" LOC=P230;
NET "PADS_io_conn<24>" LOC=P231;
NET "PADS_io_conn<25>" LOC=P234;
NET "PADS_io_conn<26>" LOC=P235;
NET "PADS_io_conn<27>" LOC=P236;
NET "PADS_io_conn<2>" LOC=P195;
NET "PADS_io_conn<3>" LOC=P199;
NET "PADS_io_conn<4>" LOC=P200;
NET "PADS_io_conn<5>" LOC=P201;
NET "PADS_io_conn<6>" LOC=P202;
NET "PADS_io_conn<7>" LOC=P203;
NET "PADS_io_conn<8>" LOC=P205;
NET "PADS_io_conn<9>" LOC=P206;
NET "PADS_dimm_ck" PERIOD = 100 MHz HIGH 50 %;
NET "clkdllhf_clkdiv" PERIOD = 66 MHz HIGH 50 %;
#NET "clk133" PERIOD = 133 MHz HIGH 50 %;
NET "pads_dimm_ck" TNM_NET = "pads_dimm_ck";
#NET "pads_dimm_ck" PERIOD = 10 ns HIGH 50 % HIGH 50 %;
